@font-face {
    font-family: 'arial';
    src: url('../font/arialn.ttf');
}

@font-face {
    font-family: 'helvetica';
    src: url('../font/hel_thex.otf');
}

@font-face {
    font-family: 'helvetica-bold';
    src: url('../font/hel_bd.otf');
}

@font-face {
    font-family: 'baskerville';
    src: url('../font/baskvl.ttf');
}

.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }

.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }

.background-startup_news {    background: #016a75;  }
.background-emission {  background: #f3861c;    }
.background-finansnytt {  background: #262626;    }
.background-mest_hypeat {  background: #a1c2b2;    }

